[Unit]
Description=BESSER WME Standalone

[Service]
Type=simple
User=besser_standalone
ExecStart=/usr/bin/node /opt/besser/build/server/bundle.js
Restart=always
Environment=NODE_ENV=production
WorkingDirectory=/opt/besser/build/server/

[Install]
WantedBy=multi-user.target
